@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633327190358') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiazai:before {
  content: "\e668";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-dianhua:before {
  content: "\e88b";
}

.icon-diqiu:before {
  content: "\e642";
}

.icon-wode-:before {
  content: "\e641";
}

.icon-copyright:before {
  content: "\e77e";
}

